<!DOCTYPE html>
<html ng-app="AchieveApp">
	<head>
		<title>Achieve Your Life</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<style type="text/css">

			body {
				background-color: #F2DACE;
			}
			.col {
				border: 0px solid ;
				border-radius: 10px;
				box-shadow: 5px 5px 5px #888888;	
				background-color: #ACACAC;
			}
			.clearfix:after {
			  content:"";
			  clear:both;
			  display:block;
			}

			h3 {
				margin-top: 20px;
				margin-bottom: 20px;
				text-align: center;
			}

            .header{
                text-align: center;
            }
			.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
		</style>
	</head>

	<body>

		<div class="container" ng-controller="AchievementController">
			<div class="header">
				<h1>Start Achieving!</h1>
                <div ng-controller="CreateAchievementController">
                    <script type="text/ng-template" id="createAchievement.html">
                        <div class="modal-header">
                            <h3 class="modal-title">Create An Achievement</h3>
                        </div>
                        <form ng-submit="createAchievement(form)">
                            <div class="modal-body">
                                    <label>Title:</label>
                                    <input type="text" ng-model="form.Title" required />
                                    <br>
                                    <label>Description:</label>
                                    <input type="text" ng-model="form.Description" required />
                                    <br>
                                    <label>Goal Amount:</label>
                                    <input type="number" ng-model="form.Total" min="1" max="1000000" required />
                                    <br>
                                    <label>Points:</label>
                                    <input type="number" ng-model="form.Points" min="0" max="100" required/>
                                    <br>
                                    
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">OK</button>
                                <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
                            </div>
                    </script>

                    <button class="btn btn-success" ng-click="open()">Create Achievement</button>
                </div>
			</div>

			<div class="row">

				<div class="col-md-5 col">				
					<h3>Locked</h3>
					<div class="row">
						
						<div class="achievement" ng-if="achievement.Current < achievement.Total" ng-repeat="achievement in achievements">
							<div class="col-md-12 clearfix">
								<h4 class="title">{{achievement.Title}}</h4>
								<p class="description">{{achievement.Description}}</p>

                                <progressbar style="float:left;width:50%" max="achievement.Total" value="achievement.Current">
                                    <span style="color:black; white-space:nowrap;">{{achievement.Current}} / {{achievement.Total}}</span>
                                </progressbar>

								<div style="display:block">
									<input style="width:12%;margin-left:5px;" min="1" max="1000000" type="number" ng-model="increment" placeholder="1">
									<button ng-click="achievement.Current = achievement.Current + increment">Add</button>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-md-5 col-md-offset-2 col">
					<h3>Achieved</h3>
					<div class="achievement" ng-if="achievement.Current >= achievement.Total" ng-repeat="achievement in achievements">
						<h4 class="title">{{achievement.Title}}</h4>
						<p class="description">{{achievement.Description}}</p>

						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="{{acheivement.Current}}" aria-valuemin="0" aria-valuemax="{{achievement.Total}}" style="width: 100%";>
						    {{achievement.Total}} / {{achievement.Total}}
					  		</div>
						</div>

					</div>
				</div>

			</div>
		</div>


		<script src="Scripts/angular-1.2.28.min.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <script src="Scripts/Controllers/AchievementController.js"></script>
        <script src="Scripts/Controllers/CreateAchievementController.js"></script>
		<script src="Scripts/Factories/AchievementFactory.js"></script>
		<script src="Scripts/App.js"></script>
	</body>

</html>