<div style="padding-bottom:100px">
	<div class="header">
		<h1>{{title}}</h1>
        <div>
            <button class="btn btn-success" ng-controller="CreateachievementCtrl" ng-click="createAchievement()">Create Achievement <span class="glyphicon glyphicon-pencil"></span></button>
        </div>
	</div>

	<div class="row">

		<div class="col-md-5 col">				
			<h3>Locked <span class="badge">{{locked.length}}</span></h3>
			<div class="col-md-12" style="padding-bottom:10px;">
				<label>Filter :</label>
				<input type="text" ng-model="searchLocked" style="width:50%">
			</div>
			<div class="row">
				<div class="achievement" ng-repeat="achievement in locked = (achievements | locked | filter:searchLocked)">
					
					<div class="col-md-12 clearfix">
						<h4 class="title">{{achievement.title}} <a ng-controller="EditCtrl" ng-click="editAchievement(achievement)"><span class="glyphicon glyphicon-pencil"></span></a></h4>
						<p class="description">{{achievement.description}}</p>

                        <progressbar style="float:left;width:50%" max="100" value="achievement.current / achievement.goal * 100">
                            <span style="color:black; white-space:nowrap;">{{achievement.current}} / {{achievement.goal}}</span>
                        </progressbar>

						<div style="display:block">
							<input style="width:16%;margin-left:5px;" min="1" type="number" ng-model="increment">
							<button ng-click="add(achievement, increment)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
						</div>
					</div>
				</div>
				<div class="col-md-12 clearfix" ng-if="locked.length == 0 && !searchLocked">
					<h5>You have no more achievements to unlock.</h5>
					<h5>Why not try creating a new one?</h5>
				</div>
			</div>
		</div>

		<div class="col-md-5 col-md-offset-2 col">
			<h3>Achieved <span class="badge">{{unlocked.length}}</span></h3>
			<div class="col-md-12" style="padding-bottom:10px;">
				<label>Filter :</label>
				<input type="text" ng-model="searchUnlocked" style="width:50%">
			</div>
			<div class="achievement" ng-repeat="achievement in unlocked = (achievements | unlocked | filter:searchUnlocked)">
				<h4 class="title">{{achievement.title}} <a ng-click="remove(achievement)"><span class="glyphicon glyphicon-remove"></span></a></h4>
				<p class="description">{{achievement.description}}</p>

                <progressbar max="achievement.goal" value="achievement.goal">
                    <span style="color:white; white-space:nowrap;">{{achievement.goal}} / {{achievement.goal}}</span>
                </progressbar>

			</div>
		</div>

	</div>
</div>

<div ng-controller="UnlockedCtrl"></div>