<div class="jumbotron">
  <h1 style="font-size:40px;">Start achieving today!</h1>
  <p class="lead">
    <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span><br>
    Let us help you achieve.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/demo">Try Out The Demo! <span class="glyphicon glyphicon-arrow-right"></span></a></p>
</div>

<div class="row marketing">
  <div>
    <h4><span class="glyphicon glyphicon-info-sign"></span> What is this?</h4>
    <p class="list-group-item list-group-item-success">
      You know video game achievements and trophies, right? Well this is like that, but for your everyday life. It's like a to-do list, but more fun!
    </p>
  </div>
  <br>

  <div>  
    <h4><span class="glyphicon glyphicon-info-sign"></span> How do I use it?</h4>
    <div class="list-group-item list-group-item-success">
      <p>Come up with something you want to achieve. It can be a one time event or something that takes a number of smaller actions. It's all up to you!</p>
      <ul>
        <li>
          <label>One time:</label> <span>Ride a Horse</span>
        </li>
        <li>
          <label>Longer term:</label> <span>Drink 50 glasses of water</span>
        </li>
      </ul>
    </div>
  </div>

  <br>

  <div>
    <h4><span class="glyphicon glyphicon-info-sign"></span> Where do I signup?</h4>
    <p class="list-group-item list-group-item-success">You can try it out from the above link without creating an account, but your progress won't be saved. Or just go ahead and create an account!</p>
  </div>
</div>
